# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Setuptools distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.mocha.json
*.sonar

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Environment Variables
.env
.venv/
